API_ID = ""
API_HASH = ""
BOT_TOKEN = ""
OWNER_ID = ""
DB_CHANNEL_ID = ""
LOG_CHANNEL_ID = ""
UPDATE_CHANNEL_ID = ""
TUT_ID = "3"
MONGO_URI = ""
TMDB_API_KEY = ""
URLSHORTX_API_TOKEN = ""
SHORTERNER_URL = "urlshortx.com"
TOKEN_TIMEOUT = "28800"
DAILY_LIMIT = "10"